# Dependencies
node_modules/

# Build outputs
build/
dist/
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Temporary files
*.tmp
*.bak
tmp/

# Editors
*.swp
*.swo
*~
.DS_Store
.idea/
.vscode/

# Misc
/*.log
